name: Build Kairos Custom Image

on:
  release:
    types: [created]

jobs:
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
      packages: write
      security-events: write

    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@main

    with:
      dockerfile_path: Dockerfile
      base_image: ubuntu:24.04
      model: generic
      arch: amd64
      kubernetes_distro: k3s
      kubernetes_version: auto
      version: auto
      trusted_boot: false
      no_cache: false

      iso: true
      raw: false
      vhd: false
      gce: false
      tar: false

      compute_checksums: true
      output_format: auto

      cosign: false
      grype: false
      trivy: false
      grype_sarif: false
      trivy_sarif: false

      auroraboot_version: latest

      release: false
      summary_artifacts: false
      list_release_artifacts: false
